.cars-index {
  h2, h3 {
    text-align: center;
    margin: 2% 0 3%
  }
}

.featured-cars {
  width: 20%;
  display: inline-block;
  border: 1px solid #ccc;
  padding: .4% 1%;
}

.featured-car {
  width: 90%;
  display: block;
  margin: 0 auto 1%;
  padding: 2% 3%;
  border: 1px solid #919191;
}
