<div class="cars-index">

  <!-- React Component => CarFinderHeader -->
  <div class="react-car-finder-component-container"></div>
  <script>
    var titleContainer = document.querySelector('.react-car-finder-component-container')
    ReactDOM.render(
      React.createElement(CarFinderHeader), 
      titleContainer
    )
  </script>

  <div class="featured-cars">
    
    <!-- List of React Components => <FeaturedCar car={car} /> -->
    <div class="react-featured-cars-list-component-container"></div>
    <script>
      var featuredCarsContainer = document.querySelector('.react-featured-cars-list-component-container')
      var featuredCars = JSON.parse("<%= @featured_cars %>".replace(/(&quot\;)/g,"\""))
      ReactDOM.render(
        React.createElement(FeaturedCarsList, { cars: featuredCars}),
        featuredCarsContainer
      )
    </script>
  </div>

  <div id="car-finder">  
    <form action="/car-finder" target="_self" method="GET">
      <input class="search-term" type="text" name="search-term" value="" placeholder="Search..." />
      <input type="submit" value="Find Cars" />
    </form>

    <div class="convo">
      <ul></ul>
    </div>
  </div>

</div>
