<div class="cars-index">

  <!-- React Component => CarFinderHeader -->
  <div class="react-car-finder-component-container"></div>
  <script>
    var titleContainer = document.querySelector('.react-car-finder-component-container')
    ReactDOM.render(
      React.createElement(CarFinderHeader), 
      titleContainer
    )
  </script>

  <div class="featured-cars">
    
    <!-- React Component => <FeaturedCarsList cars={cars} /> -->
    <div class="react-featured-cars-list-component-container"></div>
    <script>
      var featuredCarsContainer = document.querySelector('.react-featured-cars-list-component-container')
      var featuredCars = JSON.parse("<%= @featured_cars %>".replace(/(&quot\;)/g,"\""))
      ReactDOM.render(
        React.createElement(FeaturedCarsList, { cars: featuredCars}),
        featuredCarsContainer
      )
    </script>
  </div>

  <!-- React Component => <Chatbot /> -->
  <div id="car-finder">  
    <div class="react-chatbot-component-container">
      <script>
        var chatbotContainer = document.querySelector('.react-chatbot-component-container')
        ReactDOM.render(
          React.createElement(Chatbot),
          chatbotContainer
        )
        </script>
    </div>
  </div>
</div>
